* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 16px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #091920 !important;
  height: 100vh;
  width: 100vw;
  /* background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027) !important; */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #2C5364, #203A43, #0F2027) !important; */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  padding-block: 4rem;
  text-align: center;
}

.container h2 {
  color: #0e5877;
  font-weight: 700;
  margin-bottom: 0.8rem;
  font-family: 'Lobster', sans-serif;
  font-size: 2.5rem;
  letter-spacing: 3px;
}

.quote-section {
  min-height: 30vh;
}

.card.quote-card {
  background-color: #102731;
  border: none !important;
  color: #c8c8c8;
  max-width: 30rem;
  width: 90%;
  margin-inline: auto;
}

blockquote>p {
  padding-bottom: 0.8rem;
}

.badge.tag {
  background-color: #275162ae !important;
  color: #c8c8c8 !important;
  margin-inline-end: 5px;
  border-radius: 20px;
}

.btn-primary {
  border: none !important;
  color: #c8c8c8 !important;
}

.change-quote-btn {
  background-color: #1027319d !important;
}

.change-quote-btn:hover {
  background-color: #102731 !important;
}

.toast.toast-error {
  background-color: #f9dedc;
  color: #410e0b;
  border: none;
  margin: auto;
  margin-block: 1rem;
}